<main>
    <h1>Welcome to CSE Motors!</h1>
    <div>
        <img src="../public/images/vehicles/delorean-tn.jpg" alt="">
        <div id="dmc">
            <h3>DMC Delorean</h3>
            <p>3 cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dicel</p>
            <button>Own Today</button>
        </div>
    </div>
    <h2>DMC Delorean Reviews</h2>
    <div id="delorean-reviews">
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <h2>Delorean Upgrades</h2>
    <div id="delorean-upgrades">
        <div id="delorean-gallery">
            <div class="gallery-item">
                <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <figure>
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <img src="../public/images/upgrades/flame.jpg" alt="Flame Decals">
                <figure>
                    <figcaption><a href="#">Flame Decals</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Strickers">
                <figure>
                    <figcaption><a href="#">Bumper Strickers</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <figure>
                    <figcaption><a href="#">Hub Caps</a></figcaption>
                </figure>
            </div>
        </div>
    </div>
</main>