<h1>Welcome to CSE Motors!</h1>
<div id="dmc-container">
    <div class="dmc-image">
        <img src="../images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
    <div id="dmc">
        <h2>DMC Delorean</h2>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <button>Own Today</button>
    </div>
</div>
<div id="parent-container">
    <div id="delorean-reviews">
        <h2>DMC Delorean Reviews</h2>
        <div id="reviews">
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
    <div id="delorean-upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="delorean-gallery">
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <figure>
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <figure>
                    <figcaption><a href="#">Flame Decals</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Strickers">
                </div>
                <figure>
                    <figcaption><a href="#">Bumper Strickers</a></figcaption>
                </figure>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <figure>
                    <figcaption><a href="#">Hub Caps</a></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>