/******* Change Box Model ***************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem 2rem;
  font-family: sans-serif;
}

#wrapper {
  max-width: 699px;
}

#parent-container {
  display: block;
}

header,
nav,
main,
footer {
  width: 100%;
}

#top-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.siteName a,
#tools a {
  text-decoration: none;
  color: #141616;
}

.siteName {
  font-size: 2rem;
}

nav {
  width: 100%;
  background-color: #141616;
  color: #ffff;
  margin: 2rem 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

#dmc-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  max-height: 40rem;
}

.dmc-image {
  width: 100%;
  height: auto;
}

.dmc-image img {
  margin-left: 6%;
  width: 80%;
  height: auto;
}

#dmc {
  position: absolute;
  background-color: rgba(0, 10, 0, 0.1);
  width: auto;
  left: 6%;
  top: 5%;
  color: green;
}

#dmc h2,
#dmc p {
  padding-bottom: 0.3rem;
}

#dmc h2 {
  font-size: 1.2rem;
}

#dmc p {
  font-size: 1rem;
}

#dmc button {
  background-color: green;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

#reviews {
  margin: 4rem 0;
  width: 100%;
  padding: 0 1rem;
}

#reviews ul li {
  padding-bottom: 2rem;
}

#delorean-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  margin: 4rem 0;
  column-gap: 0.7rem;
  text-align: center;
}

.gallery-img {
  display: flex;
  background-color: green;
  height: 90px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
}

@media screen and (min-width: 700px) {

  #parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  #wrapper {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border: 5px solid green;
    border-radius: 5px;
    padding: 2rem;
    margin: 0 auto;
  }

  #delorean-upgrades {
    grid-column: 1;
    grid-row: 1;
  }

  #delorean-reviews {
    grid-column: 2;
    grid-row: 1;
  }

  #dmc {
    left: 6%;
    top: 12%;
  }

  #dmc h2 {
    font-size: 2rem;
  }

  #dmc p {
    font-size: 1.8rem;
  }

  #dmc button {
    padding: 10px 25px;
  }
}
