/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  max-width: 600px;
}

header,
nav,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

#top-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  background-color: #141616;
  color: #ffff;
}

nav ul li {
  list-style-type: none;
  padding: 5px 10px;
}

#dmc-container {
  position: absolute;
}

#dmc-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#dmc {
  position: relative;
  background-color: rgba(0,0,0,0);
  left: 0;
  top: 5%;
  color: green;
}

#dmc button {
  background-color: green;
  padding: 20px;
}

#delorean-reviews {
  width: 100%;
}

#delorean-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

.gallery-item {
  background-color: green;
  border: 1px solid black;
  justify-content: center;
  justify-items: center;
}

footer {
  width: 100%;
}