/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #141616;
  color: #ffff;
}

#dmc {
  color: green;
}

#dmc button {
  background-color: green;
  padding: 20px;
}

#delorean-reviews {
  width: 100%;
}

#delorean-upgrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
}

.gallery-item {
  background-color: green;
  border: 1px solid black;
  justify-content: center;
  justify-items: center;
}

footer {
  width: 100%;
}